.title {
  background-color: #fff7f1;
  color: black;
  text-align: left;
}

.container_fluid {
  padding: 10% 20% 10%;
}

.title_image {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
  z-index: 0;
  left: 135.838px;
  top: -99.8517px;
}
.download_title {
  font-family: "Proxima Nova Bold";
}
.p {
  display: inline;
  font-family: "Proxima Nova Bold";
  color: white;
}

.download_button {
  margin: 10px;
}
