.featureTitle {
  font-size: 1.35rem;
  color: #FEA848;
}

.description{
  color:#FEA848;
}
p {
  font-family: "Proxima Nova";
  font-size: 1.15rem;
}

.featureBox {
  text-align: center;
  padding: 3% 5%;
}

.icon {
  color: #FEA848;
  margin-bottom: 16px;
}

.icon:hover {
  color: #9b7c4e;
}
