@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Forum&display=swap");

.body {
  background-color: #fff7f1;
}
.brand {
  margin: 0 0 5px 0;
  padding-top: 40px;
  text-align: center;
  color: #353535;
  font-family: "Proxima Nova";
  font-weight: 1;
  font-size: 5rem;
  /* letter-spacing: px; */
  display: block;
}
.good_bold {
  font-family: "Proxima Nova Bold";
  color: #fea848;
}
.caption {
  /* font-family: "Balsamiq Sans", cursive; */
  font-family: "Proxima Nova Thin";
  margin: 0 0 80px 0;
  text-align: center;
  color: #826e50;
  font-size: 1.75rem;
  display: block;
}

.parallax {
  background-image: url("main_image.png");
  display: block;
  height: 400px;
  width: 1125px;
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
