.marker {
  width: 0;
  height: 0;
}

.geo_top {
  position: absolute;
  top: 66px;
}
.navi_top {
  top: 130px;
  position: absolute;
}
.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #fff;
  background: #4d2d73;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg);
}

.temporary-marker span {
  background: #d3d3d3;
}

.accept_button {
  background-color: #fff7f1;
  border-radius: 14%;
  height: 50px;
  width: 50px;
  color: orange;
  position: absolute;
  bottom: 19px;
  right: 0;
  z-index: 2;
}
