.brown_section {
  display: block;
  background-color: #353535;
  font-family: "Balsamiq Sans", cursive;
  margin: 5px 0;
}
.container_fluid {
  padding: 7% 15%;
}

.features {
  position: relative;
}
